<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/images/logo.png">
        </a>
        <div [ngClass]="{'is-active': active==true}" class="navbar-burger burger" (click)="active=!active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div [ngClass]="{'is-active': active==true}" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <small>Publishing at the speed of technology</small>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    Alex Johnson
                </div>
                <div class="navbar-dropdown">
                    <a class="navbar-item" (click)="action()">
                        <div>
                            <span class="icon is-small">
                  <i class="fa fa-user-circle-o"></i>
                </span> Profile
                        </div>
                    </a>
                    <a class="navbar-item" (click)="action()">
                        <div>
                            <span class="icon is-small">
                  <i class="fa fa-bug"></i>
                </span> Report bug
                        </div>
                    </a>
                    <a class="navbar-item" (click)="action()">
                        <div>
                            <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span> Sign Out
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section ">
    <div class="columns ">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <nav class="menu">
                <p class="menu-label">
                    Menu
                </p>
                <ul class="menu-list">
                    <li>
                        <a [routerLinkActive]="['is-active']" [routerLink]="['/dashboard']">
                            <span class="icon">
                              <i class="fa fa-tachometer"></i>
                            </span> Dashboard
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['is-active']" [routerLink]="['/books']">
                            <span class="icon">
                              <i class="fa fa-book"></i>
                            </span> Books
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['is-active']" [routerLink]="['/customers']">
                            <span class="icon">
                              <i class="fa fa-address-book"></i>
                            </span> Customers
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['is-active']" [routerLink]="['/orders']">
                            <span class="icon">
                              <i class="fa fa-file-text-o"></i>
                            </span> Orders
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="column ">
            <router-outlet></router-outlet>
        </main>
    </div>
</section>