<h1 class="title ">Books</h1>

<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="subtitle is-5">
                <strong>{{ (books | filterBy: userFilter).length }}</strong> books
            </p>
        </div>

        <p class="level-item">
            <a class="button is-success" (click)="add()">New</a>
        </p>

        <div class="level-item is-hidden-tablet-only">
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="text" placeholder="Book title..." [(ngModel)]="userFilter.title">
                </p>
                <p class="control">
                    <button class="button" (click)="userFilter.title = ''">
                    Clear
                  </button>
                </p>
            </div>
        </div>
    </div>

    <div class="level-right">
        <div class="level-item">
            Order by
        </div>
        <div class="level-item">
            <div class="select">
                <select [(ngModel)]="order">
                  <option value="title">Title</option>
                  <option value="price">Price</option>
                  <option value="pages">Page count</option>
                </select>
            </div>
        </div>
    </div>
</nav>

<div class="columns is-multiline">
    <div class="column is-12-tablet is-6-desktop is-4-widescreen" *ngFor="let book of books | filterBy: userFilter | orderBy: order">
        <article class="box">
            <div class="media">
                <aside class="media-left">
                    <img src="assets/images/{{book.image}}" width="80">
                </aside>
                <div class="media-content">
                    <p class="title is-5 is-spaced is-marginless">
                        <a [routerLink]="['/books-edit']" [queryParams]="{id: book.id }">{{book.title}}</a>
                    </p>
                    <p class="subtitle is-marginless">
                        ${{book.price}}
                    </p>
                    <div class="content is-small">
                        {{book.pages}} pages
                        <br> ISBN: {{book.ISBN}}
                        <br>
                        <a [routerLink]="['/books-edit']" [queryParams]="{id: book.id }">Edit</a>
                        <span>·</span>
                        <a>Delete</a>
                        <p></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<nav class="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
        <li>
            <a class="pagination-link">1</a>
        </li>
        <li>
            <span class="pagination-ellipsis">…</span>
        </li>
        <li>
            <a class="pagination-link">1</a>
        </li>
    </ul>
</nav>